// this is an example file only

@import './_partials/variables';
@import '../node_modules/include-media/dist/include-media';
@import './_partials/colors';
@import './_partials/grid';

body {
  background-color: #4e9cba;
  font-size: 17px;
}

// list example
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 15px;
  width: 100%;
  
  li {
    align-self: center;
    margin: 0 10px;
    
    a {
      color: #cccccc;
      display: block;
      font-size: 18px;
      padding: 4px 12px;
      // anchor tag with .active class will be black
      &.active {
        color: #000000;
      }
    }
    
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}
