$white: #FFFFFF;
$black: #000000;
$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #4D4D4D;
$gray-800: #262626;
$gray-900: #1A1A1A;
$gray-1000: #121212;

$blue: #007BFF;
$indigo: #6610F2;
$purple: #6F42C1;
$pink: #E83E8C;
$red: #DC3545;
$orange: #FD7E14;
$yellow: #FFC107;
$green: #28A745;
$teal: #20C997;
$cyan: #17A2B8;

$gold-dark: #75604A;
$gold-dark-hover: #B39D86;
$gold-dark-active: #CDB399;
$gold-dark-focus: #CDB399;

$gold-light: #CDB399;
$gold-light-hover: #99836B;
$gold-light-active: #75604A;
$gold-light-focus: #75604A;

$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #FF0000;
$instagrammagenta: #C32AA3;
$instagramblue: #4C5FD7;
$instagrampurple: #7232BD;
$instagramorange: #F46F30;
$instagramyellow: #FFDC7D;
$googleblue: #4285F4;
$googlered: #EA4335;
$googleyellow: #FBBC05;
$googlegreen: #34A853;
$pinterest: #BD081C;
$googleplus: #DB4437;
$linkedin: #007BB5;
$vimeoblue: #1AB7EA;
$tumblr: #2C4762;
$snapchat: #FFFC00;
$whatsappgreen: #25D366;
$whatsappteal1: #075E54;
$whatsappteal2: #128C7E;
$mastodon: #2B90D9;
$apple: #A6B1B7;
$amazon: #FF9900;
$microsoftred: #F35022;
$microsoftgreen: #80BB03;
$microsoftblue: #03A5F0;
$microsoftyellow: #FFB903;
$periscope: #40A4C4;
$foursquarepink: #F94877;
$foursquarenavy: #073282;
$foursquareblue: #2D5BE3;
$swarm: #FFA633;
$medium: #02B875;
$skypeblue: #00AFF0;
$skypedkblue: #0078D7;
$android: #A4C639;
$stumbleupon: #E94826;
$flickrpink: #F40083;
$flickrblue: #006ADD;
$yahoo: #430297;
$twitch: #6441A4;
$soundcloud: #FF5500;
$spotifygreen: #1ED760;
$spotifydarkgreen: #1DB954;
$dribbble: #EA4C89;
$slackpurple: #4D394B;
$slackskyblue: #70CADB;
$slackmosss: #3EB890;
$slackpink: #E01765;
$slackyellow: #E8A723;
$slackgreenblue: #1A937D;
$slackviolet: #472A49;
$slackolive: #65863A;
$slackred: #CC2027;
$reddit: #FF5700;
$deviantart: #05CC47;
$pocket: #EE4056;
$quora: #AA2200;
$quorablue: #2B6DAD;
$slideshareorange: #E68523;
$slideshareblue: #00A0DC;
$fivehundredpx: #0099E5;
$vk: #4A76A8;
$listlyorange: #DF6D46;
$listlyblue: #52B1B3;
$vine: #00B489;
$steam: #171A21;
$discord: #7289DA;

